<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>서버가 아파요 - 500 Error </title>
  <link rel="stylesheet" href="/css/500_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="Wrapper">
  <div class="left">Error</div>
  <div class="right">Error</div>
  <canvas id="five" width="550" height="205"></canvas>
</div>
<h1>Error :(</h1>
<p>우리 서버가 많이 아파요ㅠ.ㅠ </p>
<p>금방 고쳐서 돌아올게요!</p>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="/js/500_script.js"></script>

</body>
</html>
